#react-entry-point{padding: 50px;}
#reset_button{margin-top: 40px;
    padding-inline: 60px;
  padding-block: 15px;
    background-color: white;
    border: 2px solid darkslategray;
    border-radius: 4px;
    cursor: pointer;
box-shadow: 0 16px 16px 16px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
    &:hover{ background-color: darkslategray;
            color: white;

     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}}

#jobs-api-button{margin-top: 40px;
    padding-inline: 60px;
  padding-block: 15px;
    background-color: white;
    border: 2px solid darkslategray;
    border-radius: 4px;
    cursor: pointer;
box-shadow: 0 16px 16px 16px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
    &:hover{ background-color: darkslategray;
            color: white;

     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}}

.ag-root-wrapper {
    box-shadow: 0 16px 16px 16px rgba(0, 0, 0, 0.6);
  border: 1px solid black;
 /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
}
.dash-graph{
    background-color: antiquewhite;
    border: 1px solid black;
     box-shadow: 0 16px 16px 16px rgba(0, 0, 0, 0.6);
}
.ag-header {
    background-color: burlywood;
}
/*.main-svg {background-color: lightgreen}*/
